<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ipa.httg.top/ipa/透.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://pic.86sb.com/uploads/Brand_a/sb25338795_4.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>包名（Bundle ID）</string>
				<key>bundle-version</key>
				<string>版本号，如1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>App Subtitle</string>
				<key>title</key>
				<string>支付宝透</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
